**/*.log
**/.DS_Store
*.
.vscode/settings.json
.history
.yarn
bazel-*
bazel-bin
bazel-out
bazel-qwik
bazel-testlogs
dist
dist-dev
lib-types
etc
node_modules
tsc-out
tsdoc-metadata.json
target
output
.rollup.cache
tsconfig.tsbuildinfo
vite.config.ts
*.spec.tsx
.netlify
pnpm-lock.yaml
package-lock.json
